button{    
    @extend %buttons;
}

.btns-container{

    display: flex;

    
    & button{
        background-color: var(--Very-light-gray);
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        color: #C5C6EF;
        transition: color .3s ease-in-out;

        & svg{
            fill: currentColor;
        }

    }
    
    & button:first-child{
        border-radius: 0.5rem 0 0 0.5rem;
        padding-left: 1rem;
        
        &:hover,
        &:active{
            color :var(--Moderate-blue);
        }
        
    }
    & button:last-child{
        border-radius:0 0.5rem 0.5rem 0;
        padding-right: 1rem;

        &:hover,
        &:active{
            color :var(--Moderate-blue);
        }
    }
    
    & p{
        background-color: var(--Very-light-gray);

        font-weight: 700;
        color: var(--Moderate-blue);
        width: 2rem;
        margin: 0;
        text-align: center;
        padding: 0.5rem 0;
    }
}

.send-message{
    background-color: var(--Moderate-blue);

    padding: 0.375rem 1rem;
    border-radius: 0.5rem;

    transition: background-color 0.3s ease-in-out;
    
}

.send-message:hover,
.send-message:active{
    background-color: var(--Light-grayish-blue);
}

.cancel-btn{
    background-color: var(--Grayish-Blue);

    padding: 0.375rem 1rem;
    border-radius: 0.5rem;

    transition: background-color 0.3s ease-in-out;
}
.cancel-btn:hover,
.cancel-btn:active{
    background-color: var(--Light-gray);
}




// MODAL BTNS

.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;

    font-weight: 500;

    
    & .close-modal{
        border-radius: .5rem;
        padding: .75rem 1rem;
        background-color: var(--Grayish-Blue);

        flex: 1;

        transition: background-color .3s ease-in-out;
        
        &:hover,
        &:active{
            background-color: var(--Light-gray);
        }
    }
    
    & .delete-modal{
        
        border-radius: .5rem;
        padding: .75rem 1rem;
        background-color: var(--Soft-Red);
        
        flex: 1;
        
        transition: background-color .3s ease-in-out;

        &:hover,
        &:active{
            background-color: var(--Pale-red);
        }
    }
}

.update{

    font-size: 0.75rem;
    position: absolute;
    bottom: 2rem;
    right: 1rem;

    z-index: 5;

    display: none;
     
    transition: background-color .3s ease-in-out;
    &:hover,
    &:active{
            background-color: var(--Light-grayish-blue);
        }
}


@media only screen and (min-width:800px) {

    .send-message{
        
        padding: 0.75rem 2rem;
        
        
    }

    .cancel-btn{
          
        padding: 0.75rem 2rem;
       
    }

    .btns-container{
        
        flex-direction: column;

        position: absolute;
        top: 1.5rem;


        & p{
            display: inline-block;
            
            
            min-width: 38px;
            padding: 0;
        }

        & button:first-child{
            
            min-width: 38px;
            border-radius: .5rem .5rem 0 0rem;
            padding-right: 0.6563rem;
            padding-left: 0.6563rem;
            padding-top: 1rem;
            padding-bottom: 0.375rem;
            
         
            
        }

        & button:last-child{
            
            min-width: 38px;
            border-radius:0 0 .5rem .5rem;
            padding-right: 0.6563rem;
            padding-left: 0.6563rem;
            padding-bottom: 1.25rem;
            padding-top: 0.625rem;
    
          
        }
    }

    .update{
        right: 1.5rem;
        top: 1.75rem;
        bottom: unset;
    }
    
}